{{ define "main" }}
  <div class="container" role="main">
    <article class="article" class="blog-post">
      {{ if .Params.reviewers }}
        <p>{{ i18n "reviewed-by" }}: {{ delimit .Params.reviewers ", " " & " }}.</p>
      {{ end }}
      {{ .Content }}
      {{ if .Params.tags }}
        <div class="blog-tags">
          {{ range .Params.tags }}
            <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </div>
      {{ end }}
    </article>
</div>
{{ end }}
